body {
  margin: 0;
  min-height: 100vh;
  font-family: "JetBrains Mono", monospace;
  background: #2c2b3d;
}

.page {
  margin: 0 auto;
  padding-top: 70px;
  width: 1092px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 65px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  font-weight: bold;
  color: #00bfa6;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
}

main section h1 {
  color: white;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

span {
  color: #00bfa6;
  font-weight: bold;
}

main section p {
  font-family: "Open Sans", sans-serif;
  color: #c2c2c2;
  line-height: 28px;
  margin: 60px 0 0;
}

#footer {
  margin-top: 160px;
  padding-bottom: 30px;
  color: white;
  text-align: center;
}

#footer #line {
  border-top: solid 1px #00bfa6;
  width: 650px;
  margin: 0 auto 30px;
}

#footer a {
  text-decoration: none;
  color: #00bfa6;
}

#footer a:hover {
  font-weight: bold;
  color: white;
}

#padlock {
  position: fixed;
  left: 0;
  bottom: 0;
}
